<footer class="footer">
    <div class="container">
        <h2 class="footer__title">- get in touch with us -</h2>
        <p class="footer__text">Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec malesuada ullamcorper odio.<span class="footer__text-span"> Curabitur blandit tempus porttitor vollisky inceptos mollisestor.</span></p>
        <div class="footer__icons">
            <img src="./img/Social-icons.png" alt="social-icons">
        </div>
        <p class="footer__contacts"> Moonshine St. 14-05 Light City   /   T. +00 (123) 456 78 90   /   first.last@email.com</p>
    </div>
</footer>