<header class="header">
    <div class="container">
        <div class="icon-contain"></div>
        <div class="burger-icon">
            <span></span>
        </div>
        <ul class="menu">
            <li class="menu__item"><a href="#" class="menu__link home">Home</a></li>
            <li class="menu__item"><a href="#" class="menu__link">About Us</a></li>
            <li class="menu__item"><a href="#" class="menu__link">Our Journal</a></li>
            <li class="menu__item"><a href="#" class="menu__link">Projects</a></li>
            <li class="menu__item"><a href="#" class="menu__link">news</a></li>
            <li class="menu__item"><a href="#" class="menu__link">features</a></li>
            <li class="menu__item"><a href="#" class="menu__link">contact</a></li>
        </ul>
    </div>
</header>