@import 'mixins';
@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.menu {
    text-transform: uppercase;
    align-items: center;
    letter-spacing: 1.1px;
    font-size: 11px;
    line-height: 22px;
    @include flex;
    padding: 45px 178px 50px;

    a {
        color: $text-color;
    }

    .home {
        color: #57A4A4;
    }
}

.post {
    &__img {
        max-width: 100%;
    }
    
    &__title {
        padding: 66px 0 24px;
        @include title;
        color: $text-color;
    }

    &__wrapper {
        @include flex;
        flex-wrap: wrap;
        gap: 32px;
    }

    &__wrapper-card {
        display: flex;
        max-width: 558px;
    }

    &__wrapper-img {
        max-width: 160px;
        max-height: 140px;
    }

    &__wrapper-content {
        padding-left: 21px;

        p {
            font-weight: 700;
            line-height: 30px;
            color: $text-color;

            &:nth-child(2) {
                font-weight: 400;
                font-size: 12px;
                line-height: 20px;
                color: #7C7C7C;
                padding-bottom: 13px;
            }

            &:nth-child(3) {
                font-weight: 400;
                font-size: 14px;
                line-height: 26px;
                color: #5C5C5C;
            }
        }
    }
}

.instagram {
    margin-top: 69px;
    background-color: #f5f0f0;

    &__titles {
        @include flex;
    }

    &__title {
        padding: 47px 0 24px 0;
        @include title;
        color: $text-color;
    }

    &__title_hidden {
        display: none;
    }

    &__text {
        padding: 47px 0 24px 0;
        font-weight: 700;
        font-size: 13px;
        line-height: 22px;
        text-transform: uppercase;
        color: #4E4E4E;
    }

    &__wrapper {
        display: flex;
        gap: 10px;
        padding-bottom: 49px;

        & img {
            min-width: 24%;
        }
    }
}

.footer {
    background-color: #000000;

    &__title {
        padding: 66px 0 22px 0;
        @include title;
        color: #FEFEFE;
        text-align: center;
    }

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #B9B9B9;
        max-width: 684px;
        margin: 0 auto;
        text-align: center;
    }

    &__icons {
        padding: 37px 0 34px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__contacts {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: #B9B9B9;
        padding-bottom: 70px;
    }
}

@media(max-width:1177px) {
    .container {
        max-width: 798px;
    }

    .icon-contain {
        display: none;
    }

    .burger-icon {
        display: none;
    }

    .menu {
        padding: 45px 80px 50px;
    }

    .instagram__wrapper img:nth-child(4) {
        display: none;
    }
}

@media(max-width: 767px){
    .container {
        max-width: 350px;
        position: relative;
    }

    .icon-contain {
        width: 44px;
        height: 37px;
        display: block;
        background-color: #000000;
        position: absolute;
        right: 15px;
        z-index: 10;
        top: 23px;
    }

    .burger-icon {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 46px;
        bottom: 0px;
        top: 40px;
        z-index: 11;
    }

    .burger-icon span {
        height: 2px;
        width: 17px;
        background-color: #FFFFFF;
        position: absolute;
        transition-duration: .25s;
        transition-delay: .25s;
    }

    .burger-icon span::before {
        left: 0;
        position: absolute;
        top: -3px;
        height: 2px;
        width: 17px;
        background-color: #FFFFFF;
        content: "";
        transition-duration: .25s;
        transition: transform .25s, top .25s .25s;
    }

    .burger-icon span::after {
        left: 0;
        position: absolute;
        top: 3px;
        height: 2px;
        width: 17px;
        background-color: #FFFFFF;
        content: "";
        transition-duration: .25s;
        transition: transform .25s, top .25s .25s;
    }

    .burger-icon.open span {
        transition-duration: 0.1s;
        transition-delay: .25s;
        background: transparent;
    }

    .burger-icon.open span::before {
        transition: top .25s, transform .25s .25s;
        top: 0px;
        transform: rotateZ(-45deg);
    }

    .burger-icon.open span::after {
        transition: top 0.4s, transform .25s .25s;
        top: 0px;
        transform: rotateZ(45deg);
    }

    .menu {
        flex-direction: column;
        background-color: #F5F5F5;
        position: absolute;
        padding: 0;
        top: 60px;
        z-index: 11;
        right: 14px;
        opacity: 0;

        a {
            display: block;
            padding: 5px 80px 5px 14px;

            &:hover {
                background-color: #E5E5E5;
            }
        }

        li {
            width: 100%;
        }
    }

    .active {
        opacity: 1;
        transition: 0.3s;
    }

    .post {
        &__img {
            padding-top: 83px;
        }

        &__title {
            padding: 38px 0 23px 0;
        }

        &__wrapper {
            gap: 29px;

            div:nth-child(4) {
                display: none;
            }
        }

        &__wrapper-card {
            flex-direction: column;
        }

        &__wrapper-content {
            padding: 11px 0 0;

            p:nth-child(2) {
                padding-bottom: 0;
            }

            p:nth-child(3) {
                display: none;
            }
        }
    }

    .instagram {
        margin-top: 0;
        background-color: white;

        &__title {
            display: none;
        }

        &__title_hidden {
            display: block;
            padding: 78px 0 13px 0;
            font-size: 14px;
        }

        &__text {
            display: none;
        }

        &__wrapper {
            display: block;
        }

        &__wrapper:nth-child(3) {
            display: none;
        }

        &__wrapper-img-first {
            width: 301px;
        }

        &__wrapper-img {
            display: none;
        }
    }

    .footer {
        &__text-span {
            display: none;
        }
    }
}